.backLayout{
  width:100vw;
  height : 100vh;
  background: #deF;
}

.showLayout {
  position: relative;
  text-align: center;
  margin : 0 auto;
  width : 100vw;
  height : 100vh;
  max-width: 700px;
  min-height: 100vh;
  background-image: linear-gradient(188deg, #38a3e0 94px, #1b0436 327px,  #151a2d 100%);
  /* background-image: linear-gradient(183deg, #c5d2eb 50px, #fff 327px,  #c5d2eb 100%); */
  box-shadow: 0 0 10px 0 #000000ab;
  overflow: hidden;
}

.showLayout .card{
  /* background-color: #F5F5F5; */
  margin : 50px auto 0 auto;
  /* border: 1px solid rgba(255,255,255,0.54); */
  width: 264px;
  box-shadow: -2px 10px 20px 0.9px rgb(0 0 0 / 24%), 0px 4px 20px 0.4px rgb(0 0 0 / 16%);
  border: 2px solid #ffffff99;
}
.showLayout .title{
 margin : 20px 8px 0 8px;
 font-size: 1.4em;
 color : #ffffffcc;
 font-weight: 700;
 font-stretch: condensed;
}
.showLayout .artist{
  margin : 4px auto 0 auto;
  font-size: 1em;
 color : #ffffffcc;
 font-weight: 400;
}
.showLayout .player{
  margin : 40px auto 0 auto;
  height : 54px;
}

.showLayout .share{
  margin-top: 48px; 
  width: 100%;
  text-align: center;
}
.showLayout .playerHeader{
  /* position: absolute; */
  /* top:0; left:0; */
  line-height: 24px;
  width: 100vw;
  border-bottom: 1px solid #ffffff66;
  color: #114c6e;
  padding-left: 8px;
  text-align: left;
  background-color: #ffffff22;
  font-weight: 400;
  }
.showLayout .playerHeader{
  line-height: 36px;
  border-bottom: 1px solid #ffffff66;
  color: #ffffffaa;
  padding-left: 8px;
  text-align: left;
  background-color: #0b5885cc;
  font-weight: 400;
}
.showLayout .playerHeaderDrawer{
  position: absolute;
  top:0; left:0;
  width : 200px
  }

  .showLayout .wraperPlayerHeader{
    position: fixed;
    width:100%;
    top:0;
    z-index: 100;
  }
 .showLayout  .playerHeaderPage{
    width : 100vw;
    max-width: 700px;
    }

  .showLayout .buttonlinks{margin-top: 36px;}

  .showLayout .drawerLine {
    font-weight: 700;
    color: #eee ;
    text-align: left;
    margin-top: 24px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
  }
  .showLayout .drawerLine a{
    font-weight: 700;
    color: #eee ;
  }
  .showLayout .drawerLine a:hover{
    font-weight: 700;
    color: #ccc ;
  }
  .showLayout .currentChannel{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 118px;
    box-shadow: 0 2px 2px 0 #00000033;
    z-index: 100;
  }
  .showLayout .currentChannel .info{ padding-right: 16px }

  .showLayout .currentChannel .info .playertitle{
    text-align: left;
    font-weight: 700;
    color: #ffffffCC;
  }
  .showLayout .currentChannel .info .playerdescription{ text-align: left; height: 60px; overflow:hidden; color: #ffffff99;}
  .showLayout .currentChannel .info .copyright{ text-align: left; color: #ffffffbb }

  .showLayout .listItemsContainer{
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    height: calc(100vh - 170px);
    padding-bottom: 140px;
    overflow: auto;
    z-index: 80px;
  }
  .showLayout .audioPlayer{
    max-width: 400px;
    width: 250px;
    height: 100px;
    position: absolute;
    bottom: 50px;
    right: 40px;
    z-index: 150;
    background: #151a2dee;
    border: 1px solid #ffffff66;
    box-shadow: 0 2px 2px 0 #00000033;
    border-radius: 12px;
  }

  .showLayout .lineitem{
    box-shadow: 0 2px 2px 0 #00000033;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    padding: 12px;
    border-radius: 8px;
    color: #fff;
    background-color: #ffffff11;
    text-align: left;
  }
  .showLayout .lineitem:hover{cursor: pointer;}





.showLayout2 {
  position: relative;
  text-align: center;
  margin : 0 auto;
  width : 100vw;
  height : 100vh;
  max-width: 700px;
  min-height: 100vh;
  background-color: #fff;
  /* background-image: linear-gradient(183deg, #c5d2eb 50px, #fff 327px,  #c5d2eb 100%); */
  box-shadow: 0 0 10px 0 #000000ab;
  overflow: hidden;
}

.showLayout2 .card{
  /* background-color: #F5F5F5; */
  margin : 50px auto 0 auto;
  /* border: 1px solid rgba(255,255,255,0.54); */
  width: 264px;
  box-shadow: -2px 10px 20px 0.9px rgb(0 0 0 / 24%), 0px 4px 20px 0.4px rgb(0 0 0 / 16%);
  border: 2px solid #ffffff99;
}
.showLayout2 .title{
 margin : 20px 8px 0 8px;
 font-size: 1.4em;
 color : #000000cc;
 font-weight: 700;
 font-stretch: condensed;
}
.showLayout2 .artist{
  margin : 4px auto 0 auto;
  font-size: 1em;
  color : #000000cc;
  font-weight: 400;
}
.showLayout2 .player{
  margin : 40px auto 0 auto;
  height : 54px;
}

.showLayout2 .share{
  margin-top: 48px; 
  width: 100%;
  text-align: center;
}
.showLayout2 .playerHeader{
  /* position: absolute; */
  /* top:0; left:0; */
  line-height: 24px;
  width: 100vw;
  border-bottom: 1px solid #00000066;
  color: #114c6e;
  padding-left: 8px;
  text-align: left;
  background-color: #00000022;
  font-weight: 400;
  }
.showLayout2 .playerHeader{
  line-height: 36px;
  border-bottom: 1px solid #00000066;
  color: #ffffffaa;
  padding-left: 8px;
  text-align: left;
  background-color: #a9c3d3cc;
  font-weight: 400;
}
.showLayout2 .playerHeaderDrawer{
  position: absolute;
  top:0; left:0;
  width : 200px
  }

  .showLayout2 .wraperPlayerHeader{
    position: fixed;
    width:100%;
    top:0;
    z-index: 100;
  }
 .showLayout2  .playerHeaderPage{
    width : 100vw;
    max-width: 700px;
    }

  .showLayshowLayout2out .buttonlinks{margin-top: 36px;}

  .showLayout2 .drawerLine {
    font-weight: 700;
    color: #333 ;
    text-align: left;
    margin-top: 24px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
  }
  .showLayout2 .drawerLine a{
    font-weight: 700;
    color: #333 ;
  }
  .showLayout2 .drawerLine a:hover{
    font-weight: 700;
    color: #333 ;
  }
  .showLayout2 .currentItem{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 118px;
    box-shadow: 0 2px 2px 0 #00000033;
    z-index: 100;
  }
  .showLayout2 .listItemsContainer{
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    height: calc(100vh - 170px);
    padding-bottom: 140px;
    overflow: auto;
    z-index: 80px;
  }
  .showLayout2 .audioPlayer{
    max-width: 400px;
    width: 250px;
    height: 100px;
    position: absolute;
    bottom: 50px;
    right: 40px;
    z-index: 150;
    background: #151a2dee;
    border: 1px solid #00000066;
    box-shadow: 0 2px 2px 0 #00000033;
    border-radius: 12px;
  }

  .showLayout2 .lineitem{
    box-shadow: 0 2px 2px 0 #00000033;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    padding: 12px;
    border-radius: 8px;
    color: #fff;
    background-color: #00000011;
    text-align: left;
  }
  .showLayout2 .lineitem:hover{cursor: pointer;}