
.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}
.content{
  background-color: #fff;
  height : 500px;
  padding: 12px !important;
}
.site-page-header-ghost-wrapper{
  margin-bottom: 12px;
}